.funLoveDim {width:80%; margin:0 auto; }
.funLove {   
    width:80%; 
    margin: 0 auto;
    position: absolute;  
      background:url(http://placekitten.com/1200/1000) no-repeat top center fixed; 
    height:700px;     
    float:left;  
  background-size: cover;
    
}  

.funLove img {
    max-width: 100%; height: auto; 
    
}
.funLove .caption {
    position: absolute;
    top: 1em;
    left: -4%; 
    font: 3.9vw/5.5vw "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fcfcef;
    text-shadow: 0 -2px 1px rgba(0, 50, 100, 0.4); 
    
    
}
[class*="funLine-"] {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: 0.5em;
    padding-left:1vw; 
    padding-right:1vw; 
}
[class*="funLine-"]:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(126, 74, 226, 0.8); 
    box-shadow: -1px -2px 1px rgba(0, 50, 100, 0.4);
    left: 0;
    z-index: -1;
}
[class*="funLine-"]:nth-child(odd):after {
    -webkit-transform: perspective(34em) rotateY(25deg) rotateX(-12deg);
    -moz-transform:    perspective(34em) rotateY(25deg) rotateX(-12deg);
    -ms-transform:     perspective(34em) rotateY(25deg) rotateX(-12deg);
    -o-transform:      perspective(34em) rotateY(25deg) rotateX(-12deg);
    transform:         perspective(34em) rotateY(25deg) rotateX(-12deg);
    width: 111%;
}
[class*="funLine-"]:nth-child(even):after {
    -webkit-transform: skewY(-1deg);
    -moz-transform:    skewY(-1deg);
    -ms-transform:     skewY(-1deg);
    -o-transform:      skewY(-1deg);
    transform:         skewY(-1deg);
} 